body{
    margin:0;
    background:#87CEEB;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family:sans-serif;
    touch-action: manipulation;
}

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
}

h1{
    color:white;
}

canvas {
    width: 100vw;
    height: 80vh;
    display: block;
    margin: 0 auto;
    touch-action: none;
}

button {
    -webkit-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    
    position: fixed;
    bottom: 25px;

    width: 140px;
    height: 140px;

    font-size: 60px;

    border-radius: 50%;
    border: none;

    background: rgba(0,0,0,0.65);
    color: white;

    touch-action: manipulation;

    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

button:active {
    transform: scale(0.85);
}

#leftBtn {
    left: 25px;
}

#rightBtn {
    right: 25px;
}